.commentCard {
  width: 45rem;
  margin: 1rem;
}

.nav {
  width: 80rem;
}

.form {
  width: 60rem;
  margin: 1rem;
}

@media only screen and (max-width: 805px) {
  .commentCard {
    width: 20rem;
    margin: 1rem;
  }

  .nav {
    width: 20rem;
  }

  .form {
    width: 20rem;
  }
}
