/* .App {
  background-image: linear-gradient(to right, rgb(216, 207, 207), white);
} */

.text-center {
  width: 40rem;
  margin: 1rem;
}

.singleArticle {
  width: 70rem;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 1rem;
}

#ncHeader {
  margin: 1rem;
  color: red;
}

#commentBox {
  border: solid black 1px;
  width: 60rem;
  margin: 1rem;
  background-color: white;
}

@media only screen and (max-width: 805px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .text-center {
    width: 20rem;
    margin: 1rem;
    display: grid;
    justify-content: center;
    /* grid-template-columns: 50fr 50fr; */

    flex-direction: column;
  }
  .singleArticle {
    width: 22rem;
    margin-left: -0.5rem;
  }

  #commentBox {
    border: solid black 1px;
    width: 20rem;
    margin: 1rem;
    background-color: white;
  }
}

#b {
  background-image: linear-gradient(to right, rgb(214, 216, 215), white);
  margin: 1rem;
}

#root {
  margin: 1rem;
}

ul {
  padding: 0%;
}

ol {
  padding: 0%;
}

.trash-btn {
  background-color: rgb(245, 53, 19);
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
}

.Votes {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 50fr 50fr;
}

.voteCount {
  text-align: center;
}

#topicHeader {
  margin: 2rem;
  font-size: 30px;
  font-family: sans-serif;
}

.sorting {
  display: flex;
  justify-content: center;
  grid-template-columns: 50fr 50fr;
  align-items: center;
  margin-bottom: 1rem;
}

.sortBy {
  font-size: 20px;
  margin-right: 1rem;
  margin-bottom: 1px;
}

.orderBy {
  font-size: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1px;
}
